# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
env/
ENV/
.env
.venv

# IDE
.idea/
.vscode/
*.swp
*.swo
.project
.pydevproject
.settings/

.DS_Store
*.html
*.sh

tmp/
temp/
.ipynb_checkpoints/

config.local.ini
secrets.json 

*.mat
spec.txt
best_model_.pth
moving_pca.py
predict.py
model_.pth

node_modules/
app_status.png